body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexble-container{
    display: flex;
    margin-bottom: 100px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    padding-top: 10px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.experinence-area{
    padding-left: 15px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
} 
.experinence-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 10px gray;
    padding-left: 20px;
    border-radius: 10px;

}
#web-dev-experience{
    border-left: 7px solid ;
    border-image: linear-gradient(blue, rgb(4, 189, 245));
    border-image-slice: 1;
}
#full-dev-experience{
    border-left: 7px solid ;
    border-image: linear-gradient(red, rgb(224, 15, 243));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}